<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create an array of five first names and an array of five last names. In a for loop use a self invoked function to print the five full names, where the first argument will be a first name and the second argument will be a last name.</h2>
    <script src="../script/exercise3.js"></script>
</body>
</html>