<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework Part 4</title>
</head>
<body>
    <h2>Decription: On a button click greet your self in alert
        Action: Create a button. When clicked it shoud write: "Hello NAME"
        Put your own name next to the Hello</h2>
        <input id="btn" type="button" value="click">
        <script src="../src/exercise4.js"></script>
</body>
</html>